/*global*/
.codeblock {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #E5E5E5;
    width: 95%;
    margin: 20px auto;
    padding: 1px 20px;
    overflow: scroll;
    
}

.indent {
    margin-left: 30px;
}

/*Styles*/

/*phone*/

body {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    border: solid #14213D;
    border-radius: 20px;
}

/*tablet*/
@media(min-width: 768px) {
    body {
        width: 85%;
    }
}


/*desktop*/
@media(min-width: 1024px) {
    body {
        width: 60%;
        margin: 20px auto;
        padding: 20px;
        border: solid #14213D;
        border-radius: 20px;
    }

}
