/* Global */
:root {
    --color1: #FF6700;
    --color2: #EBEBEB;
    --color3: #C0C0C0;
    --color4: #3A6EA5;
    --color5: #004E98;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

/* End Global */

/* Mobile */
.codeblock {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    width: 95%;
    margin: 20px auto;
    padding: 15px 10px;
    overflow: scroll;   
}

.codeline {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba(0, 0, 0, .1);
}

body {
    background-color: var(--color5);
    margin: auto;
}

#container{
    width: 95%;
    background-color: var(--color2);
    margin: 20px auto;
    border-radius: 20px;
}

header {
    background-color: var(--color2);
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

header h1 {
    font-size: 2em;
}

header img, footer img {
    display: inline-block;
    width: 15%;
    background-color: white;
}

nav {
    background-color: var(--color4);
    text-align: center;
    padding: 1px 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: var(--color1);
    color: var(--color2);
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.5em;
}

nav li a:hover {
    background-color: var(--color2);
    color: var(--color1);
}

main{
    padding: 10px;
    font-size: 1.2em;
}

main img {
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

/* main a {
    c
} */

aside {
    display: none;
    width: 0;
}

.btn {
    display: block;
    background-color: var(--color1);
    min-width: 290px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    padding: 5px;
    color: var(--color2);
}

.btn:hover {
    background-color: var(--color2);
    color: var(--color1);
}

footer{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#lower_area {
    margin: 10px;
    font-size: 1.2em;
}

.col {
    border: 2px solid ;
    margin: 10px auto;
    padding: 7px;
}

table {
    border: 2px solid ;
    width: 95%;
    margin: 20px auto;
}

td, th {
    border: 2px solid ;
    font-size: 1.1em;
    padding: 5px;
}

th {
    color: var(--color1);
}

td {
    margin: 30px;
}
/* End Mobile */

/* Tablet */
@media(min-width: 768px) {
    #container {
        width: 85%;
    }

    header {
        padding: 0 20px;
    }

    nav {
        width: 100%;
        display: inline-block;
        border: none;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        display: inline-block;
        width: 300px;
    }

    .codeblock {
        padding: 15px 20px;
    }

    main {
        display: flex;
        padding: 20px;
        margin: 20px;
    }

    header img, footer img {
        width: 10%;
    }
    
}

/* End Tablet */

/* Desktop */

@media(min-width: 1024px) {
    
    #container {
        width: 60%;
        min-width: 985px;
    }

    main {
        display: flex;
    }
    
    section, aside {
        margin: 20px 20px;
        border: 2px solid black;
    }

    section {
        width: 75%;
        padding: 20px;

    }

    aside {
        display: block;
        width: 25%;
        padding: 10px;
    }

    aside ul {
        list-style-type: none;
        padding: 0;
    }

    aside li {
        margin-bottom: 10px;
    }

    aside a {
        font-size: 1.1em;
        text-decoration: none;
    }

    #mobile_jump ul {
        list-style-type: none;
    }

    #mobile_jump {
        display: none;
    }

    #one_column{
        width: 100%;
        margin: 20px auto
    }

    #lower_area {
        display: flex;
    }

    .col {
        margin: 3px;
    }
}

/* End Desktop */